<div class="div-block-10 signUp-form-outlet">
    <div class="div-block-11">
        <div class="swisslogo">

        </div>
      <div>
        <h1 class="heading-2 signUp-close">x</h1>
      </div>
      <div class="div-block-12"><img src="assets/images/Group-2.png" loading="lazy" sizes="200px" width="200" srcset="assets/images/Group-2.png 500w, assets/images/Group-2.png 800w, assets/images/Group-2.png 1113w" alt="" class="image-4">
        <h1 class="heading">To see the content</h1>
        <h1 class="heading-copy">Please Sign up / Login</h1>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" redirect="website.com/3" data-redirect="website.com/3" method="get"><input type="text" class="text-field-2 w-input" maxlength="256" name="Name" data-name="Name" placeholder="Name" id="Name" required=""><input type="email" class="text-field-2 w-input" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Email" id="Name-2" required=""><input type="tel" class="text-field-2 w-input" maxlength="256" name="Name-2" data-name="Name 2" placeholder="Phone Number" id="Name-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button button-my w-button">
            <h1 class="have-an-account-already-login">
              <a href="3.html">Have an account already? Login</a>
            </h1>
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>