.signUp-form-outlet{
    height: 100%;
    z-index: 99;
    transform: scale(0);
    transition: all ease-in 0.5s, all ease-out 0.1s;    
    .div-block-11{
        top: 50%;
        left: 50%;
        bottom: inherit;
        right: inherit;
        transform: translate(-50%, -50%);
        margin: auto;
        height: 720px;
        .heading-2{
            cursor: pointer;
        }
    }
    .heading-copy{        
        margin-bottom: 35px;
    }
    .text-field-2{
        padding: 30px 32px 30px;
    }
}
.showPopup{
    transform: scale(1);
    // transition: all linear 0.5s; 
}