.com_p_t 
{
    padding-top: 70px;
}
.com_p_b
{
    padding-bottom: 70px; 
}
.body-bg
{
    background-color: #E5E5E5;
}
.max-width
{
    max-width: 810px;
    margin:0 auto;
}
.bg-red
{
    background: $colorRed;
}