footer
{
    background-color: $footerBg;
    margin-top: 140px;
    padding-top: 100px;
    padding-bottom: 50px;
    .footer_text
    {
        h4
        {
            font-style: normal;
            font-weight: 700;
            font-size: 40px;            
            color: $colorWhite; 
        }
        p
        {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;          
            color: $colorWhite; 

            a
            {        
                color: $colorWhite; 
            }

        }
    }
    .footer_form
    {
        label
        {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;    
            color: #D9D9D9; 
            width: 100%;           
        }
        input
        {
            order: 1px solid #FFFFFF;
            border-radius: 41px;
            height: 60px;
            background-color: transparent;
        }
    }
}