$bodyColor:#E5E5E5;
$themeColor:rgba(251, 0, 0, 1); 
$blackColor:#000;
$colorWhite:#fff;
$interFontFamily: 'Inter', sans-serif;
// $fontFamilyPara:garamondRegular; 

// Common Color
$colorRed: #EB1D2E;

// Container Width 
$container_width:1440px;

// Buttons
$btnBgColor:#EB1D2E;
$btnHoverbg: #c90011;
$btn_height: 53px;

// Top Bar
$min_height: 80px;
$m_top:2rem;
$m_tb:4rem 0;

// Footer
$footerBg:#272727;